.knowledgeTechsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #0e1b39;
  margin: 2em 0;
  background-color: #b8cdfe8c;
}

.knowledgeTechsContainerHeader{
  border-bottom: 1px solid #0e1b39;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}

.labelsContainer{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 15px;
}

.knowledgeTechLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}